{{ define "main" -}}

<div style="display: flex">
  <div>
    <img src="/profile_2022_circle.png" width="300px" />
  </div>
  <div style="width: 400px; margin-top: 100px; margin-left: 100px">
    If you're interested in a few too many opinions, some fairly decent
    photographs, and learning something every once in a while - keep reading.
  </div>

  <!--
  <div>
    Since graduating from the University of Massachusetts Amherst with a Bachelors degree in Computer Science, I've been developing software in the real world using techniques and ideas from the classroom meshed with best practices and experience of commercial development.

I have worked across a wide range of industries, including Defense, Healthcare, Energy, E-Com/Retail, and Home Security. While the deliverables differ, the common thread is that everyone needs software, and being able to design and execute excellent software is a huge competitive advantage, and a huge win for your customers.

I'm passionate about learning, improving, and efficiency, which all have unlimited opportunities in the software field.
  </div>
--></div>

{{- end }}
