{{ define "main" -}}

<div>
  <div style="float: left; width: 200px; margin-right: 30px">
    <img src="/profile_2022_circle.png" />
  </div>
  <p>Hi, I'm Victor.</p>
  <p>
    At work, I'm a Staff Software Engineer and have deep experience designing
    and building complex systems such as monitored 24/7 outdoor security, an
    all-new point of sale system with intelligent recommendations, an internal
    experimentation platform, and energy demand queueing. Besides building
    computer systems, I enjoy building teams and helping people devlop their
    skills and careers.
  </p>
  <p>
    While the deliverables across market segments differ, the common thread is
    that everyone needs software, and being part of a team that is able to
    design and execute excellent software is a huge competitive advantage in the
    marketplace. But more importantly can help make a lot of people's lives
    better.
  </p>
  <p>
    I graduated from <a href="https://www.umass.edu/">UMass Amherst</a> with a
    Bachelor's degree in
    <a href="https://www.cics.umass.edu/">Computer Science</a>.
  </p>
  <p>Outside of work, I still love building things:</p>
  <p>
    <a href="http://1headline.com">1headline</a> Take control of your media
    consumption with The Newsstand Theory: All the news you really need is
    available by walking past a newsstand and glancing at the front pages. No
    infinite scroll and intentionally minimal; stop wasting your time on sites
    where you're only an
    <span style="font-family: Courier">advertising_id</span>.
  </p>
  <p>
    My <a href="http://victorjacekphotography.com">Photography</a> work spans a
    wide range, with origins in landscape and architecture, and now including
    dynamic portraints in dance and cheer. Of course, I built my own portfolio
    website, including a neat solution that lets me add new photos without any
    code changes.
  </p>
</div>

{{- end }}
