{{ define "main" -}}

<div>// TODO: profile and introduction</div>

<!-- <div class="posts"> -->

<!-- <div>
    {{ range .Site.Sections }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ end }}
  </div> -->

<!-- {{ range .Site.RegularPages -}}
  <article class="post">
    <div class="post-title">
      <time class="post-date">{{ .Date.Format "2006-01-01" }}</time>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
  </article>
  {{- end }} -->
<!-- </div> -->
{{- end }}
